<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>itlwm</string>
	<key>CFBundleIdentifier</key>
	<string>com.zxystd.itlwm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>itlwm</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E801a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19G68</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1170</string>
	<key>DTXcodeBuild</key>
	<string>11E801a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>itlwm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>qwertyuiop</string>
					<key>ssid</key>
					<string>chen</string>
				</dict>
				<key>WiFi_10</key>
				<dict>
					<key>password</key>
					<string>qwertyuiop</string>
					<key>ssid</key>
					<string>Chen</string>
				</dict>
				<key>WiFi_11</key>
				<dict>
					<key>password</key>
					<string>kFNabtrg</string>
					<key>ssid</key>
					<string>WiFi_11</string>
				</dict>
				<key>WiFi_12</key>
				<dict>
					<key>password</key>
					<string>jHazbq9V</string>
					<key>ssid</key>
					<string>WiFi_12</string>
				</dict>
				<key>WiFi_13</key>
				<dict>
					<key>password</key>
					<string>o3GYG9XP</string>
					<key>ssid</key>
					<string>WiFi_13</string>
				</dict>
				<key>WiFi_14</key>
				<dict>
					<key>password</key>
					<string>W7yZlUcW</string>
					<key>ssid</key>
					<string>WiFi_14</string>
				</dict>
				<key>WiFi_15</key>
				<dict>
					<key>password</key>
					<string>VAmN9O6N</string>
					<key>ssid</key>
					<string>WiFi_15</string>
				</dict>
				<key>WiFi_16</key>
				<dict>
					<key>password</key>
					<string>5vYKKRzV</string>
					<key>ssid</key>
					<string>WiFi_16</string>
				</dict>
				<key>WiFi_17</key>
				<dict>
					<key>password</key>
					<string>qdy2pS86</string>
					<key>ssid</key>
					<string>WiFi_17</string>
				</dict>
				<key>WiFi_18</key>
				<dict>
					<key>password</key>
					<string>yMMZVQI4</string>
					<key>ssid</key>
					<string>WiFi_18</string>
				</dict>
				<key>WiFi_19</key>
				<dict>
					<key>password</key>
					<string>l6W4EzOf</string>
					<key>ssid</key>
					<string>WiFi_19</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>zxyssdt112233</string>
					<key>ssid</key>
					<string>ssdt_5G</string>
				</dict>
				<key>WiFi_20</key>
				<dict>
					<key>password</key>
					<string>fOZnoT4t</string>
					<key>ssid</key>
					<string>WiFi_20</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string></string>
					<key>ssid</key>
					<string>Redmi</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>9utc5c5f</string>
					<key>ssid</key>
					<string>CMCC-KtG6</string>
				</dict>
				<key>WiFi_5</key>
				<dict>
					<key>password</key>
					<string>BecnEF4x</string>
					<key>ssid</key>
					<string>WiFi_5</string>
				</dict>
				<key>WiFi_6</key>
				<dict>
					<key>password</key>
					<string>KLDaGcg9</string>
					<key>ssid</key>
					<string>WiFi_6</string>
				</dict>
				<key>WiFi_7</key>
				<dict>
					<key>password</key>
					<string>RDNgALgb</string>
					<key>ssid</key>
					<string>WiFi_7</string>
				</dict>
				<key>WiFi_8</key>
				<dict>
					<key>password</key>
					<string>qHdIRkU1</string>
					<key>ssid</key>
					<string>WiFi_8</string>
				</dict>
				<key>WiFi_9</key>
				<dict>
					<key>password</key>
					<string>P6O4QV45</string>
					<key>ssid</key>
					<string>WiFi_9</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 钟先耀. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
